<% content_for :head do %>
  <%= stylesheet_link_tag 'cat-edit', media: 'all' %> <!-- Enlace al archivo CSS para editar -->
<% end %>

<% content_for :title, "Editing categorium" %>

<h1 class="edit-title">Editing categorium</h1>

<%= render "form", categorium: @categorium %>

<br>

<div class="link-container">
  <%= link_to "Show this categorium", @categorium %> |
  <%= link_to "Back to categoria", categoria_path %>
</div>
