<% content_for :head do %>
  <%= stylesheet_link_tag 'usu-new', media: 'all' %> <!-- Enlace al archivo CSS para crear un nuevo usuario -->
<% end %>

<% content_for :title, "New usuario" %>

<h1 class="new-title">New usuario</h1>

<%= render "form", usuario: @usuario %>

<br>

<div class="link-container">
  <%= link_to "Back to usuarios", usuarios_path %>
</div>
